<h1>Shopping Cart</h1>
<div class="row col" *ngIf="cart$ | async as cart">
  <div class="col d-flex flex-row justify-content-between align-items-start">
    <p>
      You have {{cart.totalItemsCount}} items in your shopping cart.
    </p>
    <button *ngIf="cart.items.length" (click)="clearCart()" type="button" class="btn btn-light btn-sm">Clear shopping cart</button>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th></th>
        <th>Product</th>
        <th class="text-center">Quantity</th>
        <th class="text-right">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items; let i=index;">
        <td style="width:50px" scope="row">{{i+1}}</td>
        <td>
          <div [style.backgroundImage]="'url('+item.product.imageUrl+')'" class="thumbnail"></div>
        </td>
        <td>{{item.product.title}}</td>
        <td class="text-right size">
          <product-quantity [product]="item.product" [shopping-cart]="cart"></product-quantity>
        </td>
        <td class="text-right">{{item.totalPrice | currency:'USD':'symbol-narrow'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{cart.totalPrice | currency:'USD':'symbol-narrow'}}</th>
      </tr>
    </tfoot>
  </table>
  <a *ngIf="cart.items.length" routerLink="/check-out" class="btn btn-primary">Check out</a>
</div>
